body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
  text-align: center;
}


.flex-columns{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;

}
.flex-columns > *{
	flex:  0 1 auto; 
	align-self: auto; 
	display: flex;
	align-items: center;
	

}
.flex-columns  > * > *{
	display: flex;
	flex:  0 1 auto; 
	align-self: stretch; 
}
.flex-columns  > * > * > *{
	align-self: center;
}


.flex-columns .col-md-1,
.flex-columns .col-md-10,
.flex-columns .col-md-11,
.flex-columns .col-md-12,
.flex-columns .col-md-2,
.flex-columns .col-md-3,
.flex-columns .col-md-4,
.flex-columns .col-md-5,
.flex-columns .col-md-6,
.flex-columns .col-md-7,
.flex-columns .col-md-8,
.flex-columns .col-md-9{
	float: none;
 }

